// Set variables for MBH-specific colours
$mbh-blue: #0082cb
$mbh-red: #ff5000
$soil: #a23022
$eucaplypt: #4b8a54
$hyperlink: #0c5373
$action: #712267

//New Color Pallete!
$blue-mbh-0: #2E9CCA
$mbh-blue-2: #29648A
$mbh-navy: #25274D
$mbh-gray1: #AAABB8
$mbh-gray2: #464866
$mbh-gray-0: #b7b9be
$mbh-gray-1: #AAABB8
$mbh-gray-2: #464866
$mbh-gray-4: #b7b9be
$mbh-white: #ffffff
$mbh-white-2: #f7f8fb
$mbh-white-3: #eaebee
$mbh-orange-1: #fff4da
$mbh-orange-2: #ffcc88
$mbh-orange-3: #ffba5e
$mbh-orange-4: #ffdeb1

// Secondary Colours
$mbh-blue1: #006299
$mbh-blue2: #009ad6
$mbh-blue3: #51b3e0
$mbh-blue4: #95ccea
$mbh-blue5: #cce5f4

$mbh-red1: #c0643c
$mbh-red2: #ff7a25
$mbh-red3: #ff9d5e
$mbh-red4: #ffbe92
$mbh-red5: #ffdfc8

// Newest color palette
$black-mbh-0 : #101820FF  
$blue-mbh-0 : #2F3C7E
$blue-mbh-1: #006299

// Redefine Bootstrap default colours
$theme-colors: ("primary": $blue-mbh-0, "warning": $mbh-red , "success": $eucaplypt, "secondary":$blue-mbh-0, "tertiary":$mbh-orange-3, "dark": $black-mbh-0, "quaternary": $mbh-white-3)

///import css-variables from 


//Responsive width variable
$mobile-min: 320px
$mobile-max: 480px
$tablet-min: 481px
$tablet-max: 768px
$laptop-min: 769px
$laptop-max: 1024px
$screen-min: 1025px
$screen-max: 1280px
$xl-screen-min: 1281px